{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}
        <h3 class="hello">Hi {{ user.username | upper }}!</h3>
        
    {% else %}
        <h3 class="hello">Welcome To:</h3>
    {% endif %}


    <div class="pricing-header  mx-auto text-center">
        <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="DjangoX logo"/>
        <p class="lead">A Django App using Ivy Lee Method for productivity.</p>
    </div>

    {% if user.is_authenticated %}
        <div class="pricing-header mx-auto text-center">
            <button type="button" class="btn btn-primary btn-lg">Tasks</button>
        </div>    
    {% else %}
        <div class="pricing-header mx-auto text-center">
            <a href="{% url 'signup' %}">
                <button type="button" class="btn btn-outline-primary btn-lg">Get Started</button>
            </a>
        </div>
    {% endif %}


    
{% endblock content %}